params {
	reads = "/Users/bhag/Documents/Code/nextflow/learn/carpentries_incubator/data/*_{1,2}.fastq.gz"
	output = "$baseDir/output"
}

docker {
	enabled = true
	containerOptions = '--rm -u $(id -u):$(id -g)'
}

process {
	cpu = 2
    memory = 2.GB

	withName: FASTQC {
		container = 'staphb/fastqc:latest'
	}

	withName: MULTIQC {
		container = 'staphb/multiqc:latest'
	}
}