// Configuring platform
/*
executor {
	name = 'sge'
	queueSize = 10
}
// above configuration specifies runs to be executed on SGE with 10 jobs in parallel

// the process.executor directive or the following can override the executor:
process {
	withLabel: 'withazurebatch' {
		// runs with docker label will be executed on docker
		executor = 'azurebatch'
	}
}

// Software configuration using docker

docker.enabled = true
process.container = 'ubuntu:latest'
docker.runOptions = '-v /path/to/data:/data'

// Software configuration using singularity
singularity.enabled = true
process.container = 'docker://ubuntu:latest'

// Container protocols
docker:// download container from dockerhub and convert to singularity
docker-daemon:// use a docker image from local docker & convert to singularity
file:// use a singularity image on local system
https:// download singularity image from url


// Configuration profiles
// instead of profile we use process, can be activated using -profile <profile name>

profiles {
	standard {
		singularity.enabled = true
		singularity.cacheDir = '/path/to/cache'
	}

	cluster {
		process.executor = 'sge'
		process.queueSize = 10
	}

	cloud {
		process.executor = 'azurebatch'
		docker.enabled = true
	}
}
*/

