// if directives are repeated for a process we can use withLabel instead of withName
/*
process {
	withLabel: PRINT2 {
		memory = 4.GB
        time = '4 min'
	}
}
*/


// we can use regex to mtach multiple labels or names, but must be quoted
/*
process {
	withName: 'PRINT|PRINT2' {
		memory = 4.GB
		time = '4 min'
	}
}
*/
// or (|), except (!), any number of chracters (.*) etc.

// Dynamic expressions
process {
	withName: 'PRINT3' {
		memory = {2.GB * task.cpus}
		publishDir = {"fastqc/"}
	}
}