docker {
    enabled = true
}


// The following is the configuration parameters for 12_Configuration.nf 
// params in dot notation & brace notation are both accepted
// params.input = "input.txt"
// params.output = "output.txt"
/* params = {
    input = "input.txt"
    output = "output.txt"
} */
/* config files can also be seperated into multiple files & 
included in the main config file using includeConfig statement */
// includeConfig "config1.config"

params.message = "Hello World from nextflow config!"

// you could use string syntax or numeric syntax
// string syntax ['10 KB', '1 MB', '1 min', '1 hour 25 sec']
// numeric syntax [10.KB, 1.MB, 1.min, - ]

process {
    cpu = 1
    memory = 1.GB
    time = '1 min'
}

// resources for specific processes can be defined using the withName option

process {
    withName: PRINT {
        memory = 2.GB
        time = '2 min'
    }
    withName: PRINT2 {
        memory = 4.GB
        time = '4 min'
    }
}

// refer to 12_Configuration.config for more examples
includeConfig "12_Configuration1.config"
includeConfig "12_Configuration2.config"
includeConfig "12_Configuration3.config"
